.profile-button {
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../../../../public/images/profile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  visibility: visible;

  &:focus {
    outline: none;
  }
}

.close {
  background-image: url("../../../../public/images/search-close.svg");
}

@media (hover: hover) {
  .profile-button:hover {
    opacity: 0.3;
  }
}
