.header {
  position: fixed;
  width: 100%;
  background-color: #000;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  z-index: 21;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 12px 70px;

  @media (width < 1024px) {
    padding: 12px 20px;
  }

  @media (width < 640px) {
    padding: 12px 20px;
  }

  @media (width < 460px) {
    padding: 12px 10px;
  }
}

.header__image {
  margin-right: 10px;
  filter: drop-shadow(0 0 0.75rem rgb(10, 47, 255));
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  font-size: clamp(28px, 5vw, 32px);
  font-style: normal;
  font-weight: 700;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgb(14, 239, 246),
    rgb(10, 47, 255),
    rgb(14, 239, 246)
  );
  color: #000;
  filter: drop-shadow(0 0 0.75rem rgb(10, 47, 255));
  letter-spacing: calc(1em / 8);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
}

.header__title {
  @media screen and (width < 640px) {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  max-height: 32px;

  @media (width < 1400px) {
    gap: 2.57vw;
  }
}

.scroll {
  border-bottom: 1px solid #2f2f2f;
}

.out {
  transform: translateY(-100%);
}
