.header {
  position: fixed;
  width: 100%;
  background-color: #000;
  z-index: 21;
  transition: all 0.3s ease-in-out;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 12px 70px;
}

.header__logo {
  text-decoration: none;
  width: fit-content;
  font-size: clamp(28px, 5vw, 32px);
  font-style: normal;
  font-weight: 700;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgb(14, 239, 246),
    rgb(10, 47, 255),
    rgb(14, 239, 246)
  );
  color: #000;
  letter-spacing: calc(1em / 8);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  max-height: 32px;
}

.scroll {
  border-bottom: 1px solid #2f2f2f;
  -webkit-transition: -webkit-transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.out {
  transform: translateY(-100%);
}

@media screen and (width < 1400px) {
  .header__container {
    gap: 3.57vw;
  }
}

@media screen and (width < 1024px) {
  .header__wrapper {
    padding: 12px 50px;
  }

  .header__container {
    gap: 20px;
  }
}

@media screen and (width < 949px) {
  .header__wrapper {
    padding: 12px 20px;
  }
}

@media screen and (width < 640px) {
  .header__wrapper {
    padding: 12px 20px;
  }
}

@media screen and (width <= 480px) {
  .header__container {
    flex-direction: row-reverse;
  }
}

@media screen and (width < 460px) {
  .header__wrapper {
    padding: 12px 10px;
  }
}
