.facts {
  /* display: flex;
  flex-direction: column; */
}

.facts__title {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 32px;
  padding: 6px 0;
}

.facts__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.facts__fact {
  padding: 0;
  margin: 0 0 24px;
}
