.test-item {
  position: relative;
  width: 100%;
  padding-bottom: 63%;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #2f2f2f;
  border-radius: 16px;
  z-index: 1;
  transition: 0.3s ease;
}

.test-item:hover {
  scale: 102%;
}

.test-item__logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: 2;
}

.test-item .test-item__background {
  opacity: 0.6;
}
