.actors {
  margin: 50px 70px 0;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.actors__title {
  font-size: 26px;
  line-height: 32px;
}

.actors__list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  gap: 50px;
}

.actor {
  text-align: center;
}

.actor__photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #2f2f2f;
  border-radius: 60px;
}

.actor__name {
  font-size: 18px;
  line-height: 24px;
}
