@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: #007aff;
    box-shadow: 0 0 8px rgba(81, 203, 238, 0.1),
      inset 0 0 5px rgba(81, 203, 238, 0.2);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: rgb(81, 203, 238);
    box-shadow: 0 0 8px rgba(81, 203, 238, 0.4),
      inset 0 0 5px rgba(81, 203, 238, 0.6);
  }
}

.loader {
  margin: 40px auto;
  width: 120px;
  height: 120px;
  background: transparent;
  border-top: 4px solid #007aff;
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}
