.footer {
  display: flex;
  margin: auto 70px 0;
  justify-content: center;
  border-top: 1px solid #2f2f2f;
  z-index: 5;

  @media (width < 1024px) {
    margin: auto 50px 0;
  }

  @media (width < 949px) {
    margin: auto 20px 0;
  }

  @media (width < 460px) {
    margin: auto 10px 0;
  }
}
