.crew-item {
  padding: 0;
  margin: 0 0 24px;
  display: flex;
  flex-direction: column;
}

.crew-item__span {
  color: #9a9a9a;
  margin: 0 0 4px;
}

.crew-item__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.crew-item__link {
  text-decoration-color: #2f2f2f;
  -webkit-text-decoration-color: #2f2f2f;
  text-underline-offset: 4px;
  margin-right: 6px;
  white-space: nowrap;
  cursor: pointer;
  color: inherit;
  transition: text-decoration-color.2s, -webkit-text-decoration-color.2s;
}

.crew-item__link:last-of-type {
  margin-right: 0;
}

.crew-item__link:hover {
  text-decoration-color: inherit;
  -webkit-text-decoration-color: inherit;
}

.crew-item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 949px) {
  .crew-item {
    margin: 0 0 18px;
  }
}

@media screen and (max-width: 460px) {
  .crew-item {
    margin: 0 0 12px;
  }
}
