.crew-item {
  padding: 0;
  margin: 0 0 24px;
  display: flex;
  flex-direction: column;
}

.crew-item__span {
  color: #9a9a9a;
  margin: 0 0 4px;
}

.crew-item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 949px) {
  .crew-item {
    margin: 0 0 18px;
  }
}

@media screen and (max-width: 460px) {
  .crew-item {
    margin: 0 0 12px;
  }
}
