.modal {
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 30;
}

.open {
  visibility: visible;
}

.modal__buttons-wrapper {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.modal__buttons-title {
  align-self: center;
  width: fit-content;
  text-decoration: none;
  color: inherit;
  font-size: clamp(21px, 5vw, 28px);
  font-style: normal;
  font-weight: 500;
}

.modal__flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.modal__close {
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  z-index: 200;
  transition: scale 0.2s ease-in-out;

  @media screen and (width < 1200px) {
    top: 15px;
    right: 15px;
  }

  @media screen and (width < 768px) {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
  }
}

.modal__back {
  border: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  z-index: 200;
  transition: scale 0.2s ease-in-out;

  @media screen and (width < 1200px) {
    top: 15px;
    right: 15px;
  }

  @media screen and (width < 768px) {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
  }
}

@media (hover: hover) {
  .modal__close:hover {
    scale: 1.2;
  }
}

/*  */
.player {
  width: 95%;
  height: 85dvh;
  border: 2px solid #2f2f2f;
}
