.dropdown {
  padding: 0;
  margin: 0;
  color: inherit;
  position: relative;
  width: 174px;
  max-width: 375px;
  background: transparent;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    border 1s cubic-bezier(0.19, 1, 0.22, 1);
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: left;

  &:nth-child(4) {
    margin-left: auto;
  }

  @media (width < 760px) {
    width: 100%;
  }
}

.dropdown__inner {
  overflow: hidden;
  position: relative;
}

.dropdown__text {
  color: inherit;
  padding: 8px;
  cursor: pointer;
  height: auto;
}

.dropdown__text:after {
  content: "";
  transition: all 0.35s ease;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  float: right;
  margin-top: 8px;
  margin-right: 6px;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown.active .dropdown__text:after {
  margin-top: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown__items {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.35s ease, opacity 0.35s ease, visibility 0.35s ease;
  background: #000;
  overflow-y: scroll;
  z-index: 100;
}

.dropdown.active .dropdown__items {
  visibility: visible;
  height: auto;
  max-height: 290px;
  opacity: 1;
  transition: max-height 0.35s ease, opacity 0.35s ease, visibility 0.35s ease;
}

.dropdown__item {
  cursor: pointer;
  padding: 10px;
  width: 290px;
  transition: all 0.35s ease;
}

.dropdown__item:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.3) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.3) 70%
  );
  -webkit-mask-size: 200%;
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.3) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.3) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}

.dropdown__mask {
  background-color: rgba(255, 255, 255, 0.5);
  height: 6.25rem;
  position: absolute;
  transform: translate3d(-120%, -3.125rem, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  width: 12.5rem;
  z-index: 1;
}

.dropdown.active {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0.3125rem rgba(255, 255, 255, 0.8);
}

.dropdown.active .dropdown__mask {
  background-color: rgba(255, 255, 255, 1);
  transform: translate3d(220%, -6.25rem, 0) rotate3d(0, 0, 1, 90deg);
}
