.burger-button-wrap {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 5;

  @media (width > 480px) {
    display: none;
  }
}

.burger-button {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.burger-button span {
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;

  &:nth-child(1) {
    top: 6px;
  }

  &:nth-child(2) {
    top: 15px;
  }

  &:nth-child(3) {
    top: 24px;
  }
}

.burger-button.active span:nth-child(1) {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 15px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.burger-button.active span:nth-child(2) {
  width: 0;
}

.burger-button.active span:nth-child(3) {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 15px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
