:root {
  --c_0: #000000;
  --c_1: #353540;
}

.item {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
  cursor: pointer;
}

.item::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  background: rgba(#000, 0.5);
  box-shadow: 0 6px 12px 12px rgba(#000, 0.4);
}

.item__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
  border: 2px solid #2f2f2f;
  border-radius: 8px;
}

.item__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(
    226deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0.2) 42%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: translateY(-30%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

/**/
.details {
  box-sizing: border-box;
  position: absolute;
  bottom: -110%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4px;
  background: #000;
  backdrop-filter: blur(16px) saturate(120%);
  transition: 0.3s;
}

.details__title,
.details__subtitle {
  font-weight: 500;
}

.details__title {
  font-size: clamp(1.125rem, 1.0889rem + 0.1807vw, 1.3125rem);
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.details__subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.details__rating {
  margin-bottom: 15px;
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.details__rating span {
  margin-left: 0.25em;
}

.country {
  margin-bottom: 15px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375em;
  margin-bottom: 0.875em;
  font-size: 0.85em;
}

.tags span {
  padding: 0.35rem 0.65rem;
  border: 1.5px solid rgba(255 255 255 / 0.4);
  border-radius: 50px;
}

.item__description {
  color: #f2f3f4;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  margin-bottom: 1em;
}

@media (hover: hover) {
  .item:hover .item__cover {
    transform: rotateX(7deg) translateY(-6px);
  }

  .item:hover .item__cover::after {
    transform: translateY(0%);
  }

  .item__cover:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }

  .item:hover .details {
    bottom: 0;
  }
}

@media (width <= 992px) {
  .details__title {
    -webkit-line-clamp: 2;
  }

  .item__description {
    -webkit-line-clamp: 2;
  }
}

@media (width <= 768px) {
  .details {
    display: none;
  }
}
