.big-item {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 58%;
  perspective: 1000px;
  cursor: pointer;
  border: 2px solid #2f2f2f;
  border-radius: 16px;
  overflow: hidden;
}

.big-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.big-item__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 1.25vw;
  bottom: 1.25vw;
  width: 80%;
  z-index: 3;
}

.big-item__list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  font-size: clamp(1.125rem, 1.0889rem + 0.1807vw, 1.3125rem);
  list-style-type: none;
}

.big-item__item_type_rating {
  padding: 3px;
  border-radius: 4px;
  background: var(--color-green);
}

.big-item__item_type_genre:first-letter {
  text-transform: uppercase;
}
