.fast-search {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  overflow: auto;
  z-index: 5;
}

.fast-search_mod_open {
  visibility: visible;
}

.fast-search__form {
  display: flex;
  width: 70%;
  margin-top: 10vw;
  padding-top: 15px;
  visibility: hidden;
  transform: translateY(-180px) scale(0.7);
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out,
    scale 0.35s ease-in-out;

  @media (width < 1200px) {
    width: 80%;
  }

  @media (width < 768px) {
    width: 95%;
  }
}

.fast-search__form_mod_open {
  visibility: visible;
  transform: translateY(0) scale(1);
}

.fast-search__input {
  width: 100%;
  padding-right: 10px;
}

.fast-search__span {
  border: none;
  background-image: url("../../../public/images/search-close.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 0;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.fast-search__span:hover {
  opacity: 0.3;
}

.fast-search__error {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  color: #f2f3f4;
}

.fast-search__input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9a9a9a;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out,
    scale 0.35s ease-in-out;
}

.fast-search__input::placeholder {
  color: transparent;
}

.fast-search__label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1rem;
  color: #9a9a9a;
  transition: all 0.35s ease-in-out;
}

.fast-search__input:placeholder-shown ~ .fast-search__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.fast-search__input:focus ~ .fast-search__label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1rem;
  color: #007aff;
  font-weight: 700;
}

.fast-search__input:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #007aff, #68b2ff, #007aff);
  border-image-slice: 1;
}

.fast-search__input:required,
.fast-search__input:invalid {
  box-shadow: none;
}
