.splide {
  padding: 16px 0;
}

.splide__track {
  overflow: visible !important;
}

/* progressbar */
.my-slider-progress {
  align-self: flex-end;
  background: #2f2f2f;
  width: 34%;
  border-radius: 3px;
}

/* progressbar */
.my-slider-progress-bar {
  background: #0a2fff;
  height: 3px;
  border-radius: 3px;
  transition: width 400ms ease-in-out;
  width: 0;
  filter: drop-shadow(0px 4px 4px #0a2fff);
}

.splide:not(.is-overflow) ~ .my-slider-progress {
  visibility: hidden;
}

@media screen and (width < 460px) {
  .splide {
    padding: 10px 0;
  }
}
