.slider {
  padding: 0 70px;
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 1024px) {
  .slider {
    padding: 0 50px;
  }
}

@media screen and (max-width: 640px) {
  .slider {
    padding: 0 20px;
    margin: 15px 0 60px;
  }
}

@media screen and (max-width: 460px) {
  .slider {
    padding: 0 10px;
    margin: 15px 0 60px;
  }
}
