.item {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  cursor: pointer;
  border: 2px solid #2f2f2f;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.item__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(
    226deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0.2) 42%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: translateY(-30%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

/**/
.details {
  box-sizing: border-box;
  position: absolute;
  bottom: -110%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4px;
  background: #000;
  transition: 0.3s ease-in-out;
}

.details__title,
.details__subtitle {
  font-weight: 500;
}

.details__title {
  font-size: clamp(1.125rem, 1.0889rem + 0.1807vw, 1.3125rem);
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  hyphens: auto;
}

.details__subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.details__rating {
  margin-bottom: 10px;
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.details__rating span {
  margin-left: 0.25em;
}

.country {
  margin-bottom: 10px;
  opacity: 0.6;
}

.tag {
  font-size: 0.85em;
  margin-bottom: 10px;
  opacity: 0.6;
}

@media (hover: hover) {
  .item:hover {
    transform: translateY(-6px);
  }

  .item:hover .item__cover::after {
    transform: translateY(0%);
  }

  .item:hover .details {
    bottom: 0;
  }
}

@media (width <= 992px) {
  .details__title {
    -webkit-line-clamp: 2;
  }

  .item__description {
    -webkit-line-clamp: 2;
  }
}

@media (width <= 768px) {
  .details {
    display: none;
  }
}
