.major {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding-left: 70px;
  margin-top: 56px;

  @media screen and (width < 1024px) {
    padding-left: 20px;
  }

  @media screen and (width < 460px) {
    padding: 0 10px;
  }
}

.major__wrapper {
  position: absolute;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transition: all 0.3s ease-in-out;

  @media screen and (width < 1024px) {
    position: static;
    margin-top: -45px;
  }

  @media screen and (width < 460px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.major__text-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  line-height: 22px;

  @media screen and (width < 460px) {
    font-size: 16px;
    line-height: 20px;
  }
}
