.major {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding-left: 70px;
  margin-top: 56px;
}

.major__wrapper {
  position: absolute;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.major__text-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .major {
    padding-left: 50px;
  }
  .major__wrapper {
    position: static;
  }
}

@media screen and (max-width: 949px) {
  .major {
    padding: 0 20px;
  }
}

@media screen and (max-width: 460px) {
  .major {
    padding: 0 10px;
  }

  .major__text-wrapper {
    font-size: 16px;
    line-height: 20px;
  }
}
