.major {
  display: flex;
  flex-direction: column;

  /*  */
  position: relative;
  justify-content: center;
  padding-left: 70px;
}

.major__wrapper {
  /* border: 1px solid blue; */
  position: absolute;
  /* padding: 0 0 0 70px; */
  max-width: 450px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.major__text-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
