.form {
  color: #f2f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form__title {
  font-size: 2em;
}

.form__input {
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #f2f3f4;
  box-shadow: none;
  outline: none;
  z-index: 2;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.form__buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form__button {
  width: 100%;
  padding: 13px 24px;
  color: #f2f3f4;
  letter-spacing: 0.2125rem;
  min-height: 50px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-position: top center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transition-property: background, color;
  position: relative;
  background-image: linear-gradient(
    90deg,
    #0065ff,
    #6942ef,
    #6554c0,
    #008cff,
    #0065ff,
    #6942ef
  );
  background-size: 400%;
  background-position: 0% 0%;
}

.form__button::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 26px;
  background-image: linear-gradient(
    90deg,
    #0065ff,
    #6942ef,
    #6554c0,
    #008cff,
    #0065ff,
    #6942ef
  );
  background-size: 500%;
  background-position: 0% 0%;
  filter: blur(10px);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s;
}

.form__button:hover {
  animation: gradientRotate 2s infinite;
}

.form__links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.form__link {
  color: #fff;
  text-decoration: none;
}
