.logo {
  margin: 0;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.title {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 30px;
}

.wrapper {
  width: 500px;
  height: 200px;
  position: relative;
}
