.logo {
  margin: 0;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.title {
  font-size: clamp(26px, 5vw, 32px);
  line-height: 32px;
  margin-bottom: 30px;
}

.wrapper {
  height: 200px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    height: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    height: 140px;
  }
}

@media screen and (max-width: 949px) {
  .wrapper {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 80px;
  }
}
