.fast-search-list {
  list-style: none;
  width: 70%;
  padding: 0;
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;
  color: #f2f3f4;
}

@media screen and (max-width: 1280px) {
  .fast-search-list {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}
