.selection {
  display: flex;
  flex-direction: column;
  margin: 36px 0 0;
  padding: 0 70px;
  z-index: 3;

  @media (width <= 1024px) {
    padding: 0 20px;
  }

  @media (width <= 460px) {
    padding: 0 10px;
  }
}

.selection__title {
  width: fit-content;
  text-decoration: none;
  color: inherit;
  font-size: clamp(21px, 5vw, 28px);
  font-style: normal;
  font-weight: 500;
}

.selection__span {
  opacity: 0;
  padding-left: 10px;
  transition: opacity 0.2s ease-in;

  @media (width < 768px) {
    opacity: 1;
  }
}

.selection:last-of-type {
  margin-bottom: 50px;
}

@media (hover: hover) {
  .selection:hover .selection__span {
    opacity: 1;
  }
}
