.section {
  padding: 0 70px;
  transition: all 0.2s ease-in-out;
}

.section:last-of-type {
  margin-bottom: 50px;
}

.section__title {
  padding: 0;
  margin: 30px 0 0;
  /* font-size: 21px; */
  font-size: clamp(21px, 5vw, 28px);
  font-style: normal;
  font-weight: 500;
}

.section__type_movies {
  margin-top: 56px;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 0 50px;
  }
}

@media screen and (max-width: 949px) {
  .section {
    padding: 0 20px;
  }
}

@media screen and (max-width: 460px) {
  .section {
    padding: 0 10px;
  }
}
