.additional {
  display: flex;
  gap: 50px;
  margin: 60px 70px 0;
}

.additional__title {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 30px;
  border-bottom: 1px solid #2f2f2f;
  padding: 6px 12px;
}

.additional__wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  font-size: 18px;
  line-height: 24px;
}

.additional__actors {
  flex-basis: 50%;
}

.additional__title:last-of-type {
  text-align: end;
}

@media screen and (max-width: 1024px) {
  .additional {
    margin: 60px 50px 0;
  }
}

@media screen and (max-width: 949px) {
  .additional {
    margin: 60px 20px 0;
  }
}

@media screen and (max-width: 460px) {
  .additional {
    margin: 60px 10px 0;
  }
}
