.person-info {
  margin-top: 116px;
  padding: 0 70px;
  display: flex;
  gap: 50px;
}

.person-info__image {
  width: 270px;
  height: 320px;
  position: relative;
  border: 2px solid #2f2f2f;
  border-radius: 8px;
  overflow: hidden;
}

.person {
  font-size: clamp(14px, 5vw, 18px);
}

.person__name {
  font-size: clamp(32px, 7vw, 64px);
}

@media screen and (width < 1024px) {
  .person-info {
    padding: 0 50px;
  }
}

@media screen and (width < 949px) {
  .person-info {
    padding: 0 20px;
    flex-direction: column;
    gap: 15px;
  }

  .person-info__image {
    align-self: center;
  }
}

@media screen and (width < 460px) {
  .person-info {
    padding: 0 10px;
  }
}
