.tabs {
  margin: 30px 70px 0;
}

.react-tabs {
  z-index: 5;
}

.tablist {
  border-bottom: 1px solid #2f2f2f;
  margin: 0;
  padding: 0;
}

.tablist__tab {
  display: inline-block;
  border: none;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tablist__tab:hover {
  opacity: 0.7;
}

.tablist__tab-selected {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .tablist {
    margin: 0 50px;
  }
}

@media screen and (max-width: 640px) {
  .tablist {
    margin: 0 20px;
  }
}

@media screen and (max-width: 460px) {
  .tablist {
    margin: 0 10px;
  }
}
