.section-library {
  margin: 100px 0 0;
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: space-evenly;
  gap: 40px;
}

@media screen and (width <= 1024px) {
  .section-library {
    padding: 0 50px;
  }
}

@media screen and (width <= 949px) {
  .section-library {
    padding: 0 20px;
  }
}

@media screen and (width <= 460px) {
  .section-library {
    padding: 0;
  }
}
