/* swiper nav buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(16px) !important;
  padding: 20px !important;
  border: 2px solid #2f2f2f !important;
  border-radius: 8px !important;
  color: #0a2fff !important;
  transition: all 0.2s ease-in-out !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  scale: 120%;
}

.big-slider:hover .swiper-button-prev,
.big-slider:hover .swiper-button-next {
  opacity: 1;
}

.big-slider .swiper-slide-next,
.big-slider .swiper-slide-prev {
  pointer-events: none;
}
