.section-catalog {
  margin: 36px 0 0;
  padding: 0 70px;
}

/* .section-catalog__genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
} */

.section-catalog__title {
  font-size: clamp(21px, 5vw, 28px);
  font-style: normal;
  font-weight: 500;
}

.section-catalog:last-of-type {
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .section-catalog {
    padding: 0 50px;
  }
}

@media screen and (max-width: 949px) {
  .section-catalog {
    padding: 0 20px;
  }
}

@media screen and (max-width: 460px) {
  .section-catalog {
    padding: 0 10px;
  }
}
