.test-item {
  position: relative;
  width: 100%;
  padding-bottom: 63%;
  perspective: 1000px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #9a9a9a;
  border-radius: 16px;
  z-index: 1;
}

.test-item__logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: 2;
}
