.search-list {
  margin: 60px 0 0;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.search-list__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  row-gap: 30px;
  column-gap: 10px;
  justify-content: center;
}

.search-list__item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-list__empty {
  padding: 0;
  margin: 100px 0 0;
  align-self: center;
}

.search-list__controller {
  display: flex;
  align-items: center;
}

.search-list__text {
  padding: 0;
  margin: 0 10px;
  user-select: none;
}

.search-list__button {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 950px) {
  .search-list {
    display: grid;
  }

  .search-list__controller {
    justify-content: center;
  }
}

/* 
/*  
/* 
*/

.lol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 40px;
  column-gap: 20px;
  justify-items: center;
}

@media screen and (max-width: 1240px) {
  .lol {
    grid-template-columns: repeat(3, minmax(0, 210px));
  }
}

@media screen and (max-width: 960px) {
  .lol {
    grid-template-columns: repeat(2, minmax(0, 210px));
  }
}

.lollol {
  /* padding: 15px;
  margin: 0;
  width: 150px;
  height: 100px;
  border-radius: 6px;
  border: 1px solid #2f2f2f;
  cursor: pointer; */
  border-radius: 6px;
}

.lollol:hover {
  scale: 102%;
  transition: all 0.2s ease-in-out;
}

.lollollol {
  display: flex;
  margin: 0;
  padding: 10px;
  width: 190px;
  height: 130px;
  border-radius: 6px;
  border: 1px solid #2f2f2f;
  cursor: pointer;
  overflow: hidden;
  color: inherit;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
