.search-list {
  margin: 40px 0 0;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  transition: all ease-in-out 0.2s;
}

.search-list__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.search-list__item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-list__error {
  padding: 0;
  margin: 100px 0 0;
  align-self: center;
}

@media screen and (max-width: 1440px) {
  .search-list__list {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
  }
}

@media screen and (max-width: 1280px) {
  .search-list__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .search-list {
    padding: 0 50px;
  }
}

@media screen and (max-width: 992px) {
  .search-list__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (max-width: 949px) {
  .search-list {
    padding: 0 20px;
  }
}

@media screen and (max-width: 760px) {
  .search-list__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media screen and (max-width: 460px) {
  .search-list {
    padding: 0 10px;
  }
}
