.filters {
  display: flex;
  gap: 15px;
  margin: 116px 0 0;
  padding: 0 70px;
  transition: all 0.2s ease-in-out;

  @media (width < 1024px) {
    padding: 0 20px;
  }

  @media (width < 760px) {
    margin: 80px 0 0;
  }

  @media (width < 460px) {
    padding: 0 10px;
  }
}

.wrap-space {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters__title {
  width: fit-content;
  color: inherit;
  font-size: clamp(21px, 5vw, 28px);
  font-style: normal;
  font-weight: 500;
}

.filters__title_type_second {
  align-self: center;

  @media screen and (width < 760px) {
    align-self: flex-start;
  }
}

.filters__wrapper {
  display: flex;
  gap: 15px;

  @media (width < 760px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media (width < 375px) {
    display: flex;
    flex-direction: column;
  }
}
