.person-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 70px;
}

.person-list__title {
  font-size: clamp(21px, 5vw, 28px);
}

.person-list__span {
  color: #9a9a9a;
}

.person-list__list {
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 30px 0 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

@media screen and (width < 1024px) {
  .person-list {
    padding: 0 20px;
  }
}

@media screen and (width < 949px) {
  .person-list__list {
    margin-top: 14px;
  }
}

@media screen and (width < 460px) {
  .person-list {
    padding: 0 10px;
  }
}
