.movie-info__title {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 32px;
  padding: 6px 0;

  @media (width < 949px) {
    margin-bottom: 18px;
  }

  @media (width < 460px) {
    margin-bottom: 12px;
  }
}
