.movie-info__title {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 32px;
  padding: 6px 0;
}

@media screen and (width < 949px) {
  .movie-info__title {
    margin-bottom: 18px;
  }
}

@media screen and (width < 460px) {
  .movie-info__title {
    margin-bottom: 12px;
  }
}
