.person-info {
  margin-top: 116px;
  padding: 0 70px;
  display: flex;
  gap: 50px;
}

.person-info__image {
  width: 270px;
  height: 320px;
  position: relative;
}

.person__name {
  font-size: 64px;
  line-height: 78px;
}

@media screen and (max-width: 1024px) {
  .person-info {
    padding: 0 50px;
  }
}

@media screen and (max-width: 949px) {
  .person-info {
    padding: 0 20px;
  }
}

@media screen and (max-width: 460px) {
  .person-info {
    padding: 0 10px;
  }
}
