.description {
  /* margin: 60px 70px 0; */
}

.description__title {
  padding: 6px 0;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .description {
    /* margin: 60px 50px 0; */
  }
}

@media screen and (max-width: 949px) {
  .description {
    /* margin: 40px 20px 0; */
  }
}

@media screen and (max-width: 460px) {
  .description {
    /* margin: 30px 10px 0; */
  }
}
